*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.fontDefs {
  font-family: 'Shadows Into Light', sans-serif, monospace;
  color: rgb(170, 201, 248);
  text-align: center;
  font-size: 1.5em;
}

body {
  background-color: black;
  background-image: url('./images/mb_text_bg.jpg')
}

#wrapper {
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

#quote-box {
  height: 80%;
  min-height: 480px;
  width: 90%;
  padding: 40px;
  background-color: rgb(4, 4, 65, .85);
  border-radius: 20px;
  box-shadow: -20px 20px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  overflow: hidden;
}

#quote-box>span {
  height: 100%;
}


#quote-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50%;
}

#controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 50%;
}

#new-quote {
  width: 100%;
  height: 60px;
  margin: 10px auto;
  border-radius: 10px;
  background-color: rgb(10, 10, 90);
  border: none;
  box-shadow: 0px 10px 10px #000;
}

#new-quote:hover {
  background-color: rgb(20, 20, 100);
  box-shadow: 0px 5px 15px #999;
}

#author {
  margin: 20px;
}

.icoButton {
  background-color: rgb(0, 60, 128);
  width: 150px;
  height: 150px;
  display: flex;
  flex: none;
  flex-direction: column;
  padding: 10px 5px;
  align-items: center;
  justify-content: center;
  border-radius: 25%;
  margin: 20px auto;
}

#twitter-logo {
  height: 60px;
  width: auto;
}

.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ANIMATION FOR TRANSITIONS */

.fadeboth-enter {
  opacity: 0.01;
}

.fadeboth-enter.fadeboth-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.fadeboth-leave {
  opacity: 1;
}

.fadeboth-leave.fadeboth-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}